<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Username" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button class="loginBtn" mat-raised-button color="primary" type="submit"
                    [disabled]="loginForm.invalid">Login</button>
            </div>
            <div class="col-4">
                <button class="resetBtn" mat-raised-button color="primary" type="reset"
                    (click)="clearPassword()">Reset Password</button>
            </div>
        </div>
    </form>

</div>